*{
  padding: 0;
  margin: 0;
}

body {
  background: url("kelli-tungay-2LJ4rqK2qfU-unsplash.jpg") fixed no-repeat center/cover;
  display: flex;
}
.navbar{
  align-items: center;

}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darksalmon;
  position :fixed;
  top: 0;
  width: 100%;
  border-radius: 5px;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

li a:hover:not(.active) {
  background-color:orangered;
  color:whitesmoke;
}
img {
  height: 50px;
  width: 120px;
  float: left;
  image-rendering: 96dpi;
}

.active {
  background-color: firebrick;
  color: azure;
}
.para{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 7%;
  margin-bottom: 7%;
  padding: 0;
  color: black;
}
.para :active{
  text-shadow: 0  10px   20px  0  #333  ,  1px 10px 60px  0px black;
}
.container1 {
  display: flex;
  height: 90%;
  width: 90%;
  /* padding: 4px 3px; */
  margin-top: 10%;
  margin-left: 30%;
  margin-bottom: 15%;
  margin-right: 5%;
  border: double 5px;
  border-radius: 12px;
  border-color: black; 
}
.container1 a{
  text-decoration: none;
  color: darksalmon;
}
.container1:hover{
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.24), 0px 60px 140px 0px rgba(0,0,0,0.19);
}


